body {
    overflow: hidden;
}

.int-main {
    display: flex;
    height: 100svh;
}

.left{
    width: 20%;
    background: var(--contraste2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100svh - 40px);
    padding: 20px 0;
    overflow-y: scroll;
}

.left-top {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.img-div {
    width: 50px;
}

.img-div img {
    width: 100%;
}

.title-p1 {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #FFF;
}

.title-p2 {
    color: var(--contraste);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.links button {
    color: #FFF;
    background: none;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 10px;
    width: 95%;
    border-radius: 0 100px 100px 0;
    transition: all .1s;
}

.link-active {
    background: #FFF!important;
    color: #333!important;
}

.left-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.left-bottom button {
    background: none;
    color: #FFF;
    cursor: pointer;
}

.right{
    width: 80%;
    overflow: hidden;
    /* padding-bottom: 100px; */
    position: relative;
}

#loading{
    position: fixed;
    width: 80%;
    height: calc(100svh - 30px);
    background: #fafafa;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    opacity: 0;
    pointer-events: none;
    right: 0;
}

.load-active{
    opacity: 1!important;
    pointer-events: auto!important;
}

#iframePage{
    width: 100%!important;
    height: calc(100svh - 30px)!important;
}

#config{
    font-size: 14px;
}

#recadosOut {
    position: fixed;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: #000000de;
    backdrop-filter: blur(2px);
    z-index: 10;
    transition: all .1s;
    padding: 10px;
    display: flex;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
}

.recado-open{
    pointer-events: all!important;
    opacity: 1!important;
}


.recados-in{
    width: 100%;
    height: fit-content;
    background: white;
    border-radius: 3px;
    padding: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 2px solid var(--contraste2);
}

.title-recados{
    text-transform: capitalize;
    font-size: 22px;
    color: #6a6a6a;
}

.desc-recados{
    color: gray;
}

.bt-recados{
    padding: 8px 25px;
    width: fit-content;
    color: white;
    background: var(--contraste2);
    border-radius: 3px;
    margin-left: auto;
    cursor: pointer;
}