body{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background: #FAFAFA;
}
header, .extra{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title-header, .title-add{
    font-size: 20px;
    color: #525252;
}

.header-in{
    display: flex;
    gap: 30px;
}

.sub-header{
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;  

}

#btnRemove{
    background: #ff5e52!important;
}

.sub-header span{
    color: #FF9900;
    font-size: 25px;
}

.funcBt{
    padding: 15px 30px;
    width: fit-content;
    border-radius: 3px;
    color: #B1B1B1;
    background: white;
    border: 1px solid #E7E7E7;
    box-shadow: 0 0 20px 0 #0000000f;
    cursor: pointer;
}

#selectFilter{
    padding: 10px;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    cursor: pointer;
}
#addNew, #details, #addNewAula, #verMaisDiv{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000db;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .1s;
}

.add-active{
    opacity: 1!important;
    pointer-events: auto!important;
}

.add-container{
    margin-top: 30px;
    padding: 20px;
    width: calc(100% - 80px);
    border-radius: 3px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-height: calc(100svh - 100px);
    overflow-y: scroll;
}

.title-add{
    position: relative;
    width: fit-content;
}

.title-add:before{
    content: '';
    position: absolute;
    bottom: -3px;
    width: 70%;
    height: 2px;
    background: var(--contraste);
}

.inps-add{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.inp-add-out, .inp-add-out2 {
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px);
}


.inp-add-out h3, .inp-add-out2 {
    font-size: 14px;
    color: #929292;
}

.inp-add-out input, .inp-add-out select {
    padding: 12px;
    background: white;
    border: 2px solid #ededed;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 #00000010;
    font-size: 14px;
}

.inp-add-out2 input {
    background-color: #fff;
    margin: 0;
    border-radius: 0.3em;
    border: 1px solid var(--contraste2);
    color: var(--contraste2);
    width: 1.15em;
    height: 1.15em;
}

.btn-add{
    padding: 7px 14px;
    color: white;
    background: var(--contraste2);
    border-radius: 3px;
    width: fit-content;
    cursor: pointer;
}

.btn-close{
    padding: 5px;
    color: var(--contraste2);
    background: none;
    font-size: 16px;
    cursor: pointer;
}

.ver-detalhes{
    color: var(--contraste);
    cursor: pointer;
    background: none;
}

.msg-add{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    padding: 15px 20px;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    animation: msgAdd 2s ease-in-out forwards;
}

.sucesso-add{
    background: #4fbe60;
    border: 2px solid #6ed26d;
}

.erro-add{
    background: #ff6565;
    border: 2px solid #fc8686;
}

@keyframes msgAdd{
    0%{
        transform: translateY(calc(100% + 20px));
    }
    10%{
        transform: translateY(0);
    }
    90%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(calc(100% + 20px));
    }
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-list-out {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: center;
}

#searchBar {
    width: 50%;
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
    background: #FFF;
    color: #333;
    transition: all .2s ease-in-out;
}

#searchBar:focus {
    border: 1px solid var(--contraste2);
}

.content-list {
    border-collapse: separate;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0 5px;
    text-align: left;
    margin-top: 30px;
}

.content-list thead {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.content-list tbody {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0 10px;
}

.content-list th {
    padding: 5px 15px;
    color: #929292;
    text-transform: capitalize;
}

.content-list th:last-child {
    text-align: right;
}

.empty-line {
    display: none;
}

.table-line {
    display: table-row !important;
}

.table-line2 {
    display: table-row !important;
}

.content-list td {
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--contraste);
    background-color: #FFF;
    color: #808080;
    padding: 12px 15px;
    overflow-x: hidden;
}

.content-list td::first-letter {
    text-transform: capitalize;
}

.td-nome {
    text-transform: capitalize;
}

.td-email::first-letter {
    text-transform: lowercase !important;
}

.content-list td:first-child {
    border-left-width: 1px;
    border-radius: 5px 0 0 5px;
}

.content-list td:last-child {
    border-right-width: 1px;
    border-radius: 0 5px 5px 0;
    text-align: right;
}

.content-list td:nth-last-child(2){
    text-align: right;
    color: var(--contraste);
}

.out-bt-sv{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
}

.infos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infos p{
    max-width: 1000px;
}

.infos p{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.patrocinadores{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.patrocinadores img{
    width: 100%;
    max-width: 150px;
}

.img-out-dt{
    width: 30%;
    aspect-ratio: 1;
    background: #000000;
    border-radius: 100%;
    max-width: 100px;
    position: relative;
    overflow: hidden;
}


.img-out-dt img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s;
}

.excluir-pat{
    cursor: pointer;
    transition: all .3s;
}

.excluir-pat::before{
    /* faz bonito aqui */
}

.excluir-pat:hover{
    opacity: 0.6!important;
}

#outShowImgs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    max-height: 200px;
    overflow-y: scroll;
    flex-wrap: nowrap;
}

.imgShowUp {
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    flex-wrap: nowrap;
    border: 2px solid var(--contraste);
    border-radius: 3px;
}

.nameImgShow {
    font-size: 15px;
    color: #585858;
}

#gpOut{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.contGp img {
    /* max-width: 350px; */
    max-height: 125px;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 #00000010;
    cursor: pointer;
    transition: all .3s;
}

.contGp{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleGp{
    font-size: 18px;
    color: #525252;
}

.contImgGp {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}

.contImgGp p{
    color: #7a7a7a;
}

.infos-out{
    display: flex;
    gap: 10px;
    align-items: center;
}

.preimg{
    width: 32px;
    aspect-ratio: 1;
    position: relative;
}

.preimg img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inp-add-out label {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 135px;
    padding: 13px 10px;
    background: var(--contraste2);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: all .3s;
}
.inp-add-out label:hover {
    opacity: .8;
}

#seeImg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000ef;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#seeImg img {
    max-width: 70vw;
    max-height: 70vh;
    border-radius: 5px;
}

.seeBtns{
    position: fixed;
    z-index: 1000;
    top: 20px;
    right: 20px;
}

.seeFechar{
    padding: 5px 15px;
    font-size: 13px;
    color: white;
    background: var(--contraste2);
    border-radius: 3px;
    cursor: pointer;
}

