@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: Alata, sans-serif;
    border: none;
    scroll-behavior: smooth;
    font-weight: normal;
    --max: 1280px;
    --contraste: #ffb43c;
    --contraste2: #458cfd;
    --bg: #202020;
}

::placeholder{
    color: #989898;
}