@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: Alata, sans-serif;
    border: none;
    scroll-behavior: smooth;
    font-weight: normal;
    --max: 1280px;
    --contraste: #ffb43c;
    --contraste2: #114494;
    --bg: #202020;
}

::placeholder{
    color: #989898;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    padding: 2px;
    background: #00000010;
    transition: all .3s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #989898; 
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover{
    background: #00000015; 
}
  